*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    max-height: 100px;
    background-color: #fff;
    padding: 10px;
    justify-content: space-between;
}
.logo{
    width: 100%;
    align-content: center;
}
nav{
    display: flex;
    align-self: center;
}
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul,li{
    font-size: 1.3vw;
    display: flex;
    padding: 10px;
}
img{
    margin-left: 1vw;
    max-width: 100px;
    max-height: 100px;
}
a{
    color: #000;
    text-decoration: none;
}
li{
    list-style:none ;
    display: list-item;
}
body{
    background-color:#006400;
    font-family: 'Lato', sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 60px;
}
#description input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
#description input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
form{
    display: block;
}
input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
#features{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
iframe{
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > h2 {
    margin-top: 15px;
}
.product > ol > li {
    padding: 5px 0;
}
.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
@media (max-width: 800px){
#pricing {
        flex-direction: column;
    }
.product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    }
}